{% extends 'base.html.twig' %}

{% block body %}

    <div class="jumbotron">
        <div class="container">

            {% for Institution in Institution %}
                <h1>Заведение "{{ Institution.name }}"</h1>
                <p><b>{{ Institution.description }}</b></p>
            {% endfor %}

            <h2>Cписок всех блюд:</h2>
            <div>
                <p><b>{{ Institution.dishes }}</b></p>
            </div>
        </div>
    </div>


{% endblock %}